@CHARSET "ISO-8859-1";
.a{
	border-top: 1px solid black; 
	border-bottom: 1px solid black;
	border-left: 1px solid black; 
	height: 780px;
}
.a1{
	/*border-top: 1px solid black; 
	border-bottom: 1px solid black;*/
	border-left: 1px solid black; 
	height: 340px;
	white-space: nowrap;
}
.a2{
	/*border-top: 1px solid black; 
	border-bottom: 1px solid black;*/
	border-left: 1px solid black; 
	height: 180px;
}
.a3{
	/*border-top: 1px solid black; 
	border-bottom: 1px solid black;*/
	border-left: 1px solid black; 
	height: 80px;
}
.a4{
	/*border-top: 1px solid black; 
	border-bottom: 1px solid black;*/
	border-left: 1px solid black; 
	height: 40px;
}
.a5{
	/*border-top: 1px solid black; 
	border-bottom: 1px solid black;*/ 
	border-left: 1px solid black; 
	height: 9px;
}
.hr1{
	width: 136px;
	position: absolute;
	top: -2px;
	left:  0px;
	background-color: black;
	shade: noshade;
}
.hr11{
	width: 136px;
	position: absolute;
	bottom: -17px;
	left:  0px;
	background-color: black;
	shade: noshade;
}
.a6{
		
}

.span-5{
	width: 180px;
	padding-left: 405px;
}
#sidebar{
	
}