@CHARSET "ISO-8859-1";
.a{
	border-top: 1px solid black; 
	border-bottom: 1px solid black;
	border-left: 1px solid black; 
	height: 780px;
}
.a1{
	border-top: 1px solid black; 
	border-bottom: 1px solid black;
	border-left: 1px solid black; 
	height: 340px;
}
.a2{
	border-top: 1px solid black; 
	border-bottom: 1px solid black;
	border-left: 1px solid black; 
	height: 180px;
}
.a3{
	border-top: 1px solid black; 
	border-bottom: 1px solid black;
	border-left: 1px solid black; 
	height: 80px;
}
.a4{
	border-top: 1px solid black; 
	border-bottom: 1px solid black;
	border-left: 1px solid black; 
	height: 40px;
}
.a5{
	border-top: 1px solid red; 
	border-bottom: 1px solid red;
	border-left: 1px solid red; 
	height: 9px;
}